<a href="https://colab.research.google.com/github/Kunalkumar9354/Leetcode-Practice/blob/main/oopsConcept.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

OOPs-It is used to map the entity with real world *concept*

In [1]:
def hello():
  x="hello"
  return x
print(hello())

hello

In [12]:
class Person:
  name="Kunal"
  occupataion="Data Analyst"
  net_worth="10$"
  def info(self,name,occupataion): # creation of method
    print(f"name is{self.name}and occupation is {self.occupation}")
a=Person() # cretion of object
# print(a.name)
# print(a.occupataion)
# print(a.net_worth)
a.name="Amit"
a.occupataion="Data Scientist"
a.net_worth="1000$"
# print(a.name,a.net_worth)
a.info()

TypeError: ignored

In [16]:
class Person:
  name="Kunal"
  occupation="Data Analyst"
  networth="500$"
  def info(self,name,networth):
    print(f"Name is {self.name} and networth is{self.networth}")
a=Person()
a.info("name","networth") #calling the function

Name is Kunal and networth is500$

In [22]:
class Person:
  name="Kunal"
  occupation="Data Analyst"
  networth="500$"
  def info(self,name,networth):
    print(f"Name is={self.name} and networth is={self.networth}")
a=Person()
b=Person()
c=Person()
a.name="Shubham"
a.occupation= "playboy"
a.networth="50,000$"
b.name="Krutika"
b.occupation="Hr"
b.networth="10000$"
a.info("name","networth") #calling the function
b.info("name","networth")
c.info("name","networth")

Name is=Shubham and networth is=50,000$
Name is=Krutika and networth is=10000$
Name is=Kunal and networth is=500$

self = vo object jispe yeh method call hora h